{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'mimamori/css/common.css' %}">
    <style>
        body{
            color: black;
            text-align: center;
        }
    </style>

</head>
<body>
<!--    <div class="h1">Login</div>-->
<h1>ログイン</h1>
<form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% for field in form %}
    {{ field.label }}
    <br>
    {{ field }}
    <br>
    {{ field.errors }}
    <br>
    {% endfor %}
    <div class="mt-3">
        <button type="submit" class="btn btn-primary">ログイン</button>
        <a href="{% url 'mimamori:index' %}" class="btn btn-secondary">戻る</a>
    </div>
</form>
</body>
</html>